In [1]:
import json
import pandas as pd

In [17]:
df = pd.read_csv("../../../Discogs_Exports/VannaBe_Collection_Price/Merged_Tableau/Merge_190623.csv")

In [18]:
df.head()

,Artist,Title,Min,Median,Higher,Min_290523,Median_290523,Higher_290523,Min_070623,Median_070623,Higher_070623,Min_120623,Median_120623,Higher_120623,Min_190623,Median_190623,Higher_190623
0,a-ha,East Of The Sun West Of The Moon,5.05,11.62,26.28,5.05,11.62,26.28,5.11,11.75,26.57,5.05,11.62,26.28,4.95,11.38,25.72
1,a-ha,Hunting High And Low,1.07,10.21,15.33,1.07,10.21,15.33,1.08,10.32,15.49,1.07,10.21,15.33,1.05,10.00,15.00
2,a-ha,Scoundrel Days,3.53,5.05,20.44,3.53,5.05,20.44,3.57,5.11,20.66,3.53,5.05,20.44,3.46,4.94,20.00
3,a-ha,Stay On These Roads,3.00,7.00,15.00,3.00,7.00,15.00,3.03,7.08,15.16,3.00,7.00,15.00,2.94,6.85,14.68
4,The Alan Parsons Project,Ammonia Avenue,1.12,6.38,11.87,1.12,6.38,11.87,1.13,6.45,12.00,1.12,6.38,11.87,1.10,6.24,11.62

In [21]:
caravanserai = df.loc[df["Title"] == "Caravanserai"]

In [23]:
caravanserai.head()

,Artist,Title,Min,Median,Higher,Min_290523,Median_290523,Higher_290523,Min_070623,Median_070623,Higher_070623,Min_120623,Median_120623,Higher_120623,Min_190623,Median_190623,Higher_190623
97,Santana,Caravanserai,3.99,10.0,20.75,3.99,10.0,20.75,4.03,10.11,20.97,3.99,10.00,20.75,3.90,9.78,20.30
98,Santana,Caravanserai,3.99,10.0,20.75,3.99,10.0,20.75,4.03,10.11,20.97,3.99,10.00,20.75,2.19,5.76,12.62
99,Santana,Caravanserai,3.99,10.0,20.75,3.99,10.0,20.75,4.03,10.11,20.97,2.24,5.88,12.90,3.90,9.78,20.30
100,Santana,Caravanserai,3.99,10.0,20.75,3.99,10.0,20.75,4.03,10.11,20.97,2.24,5.88,12.90,2.19,5.76,12.62
101,Santana,Caravanserai,3.99,10.0,20.75,3.99,10.0,20.75,2.26,5.95,13.04,3.99,10.00,20.75,3.90,9.78,20.30

In [34]:
df_1 = pd.read_csv('../../../Discogs_Exports/VannaBe_Collection_Price/price_230523.csv')

In [35]:
df_1

,Unnamed: 0,"Artist , Title, Label, Year, Format",Min,Median,Max,Added,Folder,Rating,Album_Type,Style,...,Group,Group_Members,Instrument(s),Instrument(s)_2,Instrument(s)_3,Instrument(s)_4,Cover Art,Notes,Record Cleaning Date,Record Cleaning Kit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a-ha - East Of The Sun West Of The Moon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"LP, Album",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Warner Bros. Records 7599 26314-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990 Italy,€5.05,€11.62,€26.28,5 days ago,Original Collection Italy,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5927,Other (Price on labels): 2-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5928,Other (Article): Арт. 11-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5929,Other (Retail price on sleeve): Цена 2 руб. 50...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5930,Edit Record Cleaning Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5931,Edit Record Cleaning Kit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
caravanserai_1 = df_1.loc[df_1["Unnamed: 0"] == "Santana - Caravanserai"]

In [50]:
caravanserai_1

,Unnamed: 0,"Artist , Title, Label, Year, Format",Min,Median,Max,Added,Folder,Rating,Album_Type,Style,...,Group,Group_Members,Instrument(s),Instrument(s)_2,Instrument(s)_3,Instrument(s)_4,Cover Art,Notes,Record Cleaning Date,Record Cleaning Kit
4720,Santana - Caravanserai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4783,Santana - Caravanserai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
caravanserai_check = pd.concat([df_1.iloc[4720:4724], df_1.iloc[4783:4788]])

In [81]:
caravanserai_check

,Unnamed: 0,"Artist , Title, Label, Year, Format",Min,Median,Max,Added,Folder,Rating,Album_Type,Style,...,Group,Group_Members,Instrument(s),Instrument(s)_2,Instrument(s)_3,Instrument(s)_4,Cover Art,Notes,Record Cleaning Date,Record Cleaning Kit
4720,Santana - Caravanserai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4721,"LP, Album, Gat",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4722,CBS S 69022 E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4723,1972 Spain,€3.99,€10.00,€20.75,14 days ago,2023 Second Hand,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4783,Santana - Caravanserai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4784,"LP, Album, RE, RP",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4785,CBS S CBS 32060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4786,Europe,€2.24,€5.88,€12.90,5 days ago,Original Collection Italy,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4787,Edit Media Condition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

With the addition of the "Added" column, this updated vinyl collection dataset offers improved insights into the presence of multiple copies for each vinyl. 

By addressing potential issues related to value verification, it enhances the accuracy and reliability of future analysis performed on the dataset.