# ⚠️ <span style="color: #FF6961">Warning</span>

Follow the below instructions, and beware of the danger signs.

In [1]:
import pandas as pd
import re

In [2]:
pd.options.display.max_columns = None

In [3]:
# We should just copy the table in the following page https://www.discogs.com/user/VannaBe/collection?sort=max&sort_order=desc
# It is important to include all the columns and all the rows

price = pd.read_clipboard(sep="\t")

In [4]:
price

,"Artist, Title, Label, Year, Format",Min,Median,Max,Added,Folder,Rating,Album_Type,Style,Genre,Recorded,Original Released,Artist_City,Artist_Country,Artist_Region_State,Purchased,Year_Purchased,Shop,Shop_City,Shop_Region_State,Shop_Country,Years active,Group,Group_Members,Instrument(s),Instrument(s)_2,Instrument(s)_3,Instrument(s)_4,Cover Art,Notes,Record Cleaning Date,Record Cleaning Kit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Battiato* - L'Era Del Cinghiale Bianco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"LP, Album",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EMI 3C 064-18285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1979 Italy,€28.69,€57.93,€178.06,2 months ago,Father Collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5915,Cover - Bruce Meek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5916,Edit Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5917,Edit Record Cleaning Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5918,Edit Record Cleaning Kit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [5]:
price.to_json('../../Discogs_Exports/VannaBe_Collection_Price/price_260623.json', orient='columns', indent=None)

In [23]:
df_price= pd.read_json('../../Discogs_Exports/VannaBe_Collection_Price/price_260623.json')

In [24]:
df = df_price.iloc[:, :6]

In [25]:
df

,"Artist, Title, Label, Year, Format",Min,Median,Max,Added,Folder
0,None,None,None,None,None,None
1,Battiato* - L'Era Del Cinghiale Bianco,None,None,None,None,None
2,"LP, Album",None,None,None,None,None
3,EMI 3C 064-18285,None,None,None,None,None
4,1979 Italy,€28.69,€57.93,€178.06,2 months ago,Father Collection
...,...,...,...,...,...,...
5914,None,None,None,None,None,None
5915,Cover - Bruce Meek,None,None,None,None,None
5916,Edit Notes,None,None,None,None,None
5917,Edit Record Cleaning Date,None,None,None,None,None
5918,Edit Record Cleaning Kit,None,None,None,None,None

In [26]:
# Find the rows that contain the Euro symbol
euro_rows = df[df.apply(lambda row: row.astype(str).str.contains('€').any(), axis=1)].index

In [27]:
euro_rows

Index([   4,   42,   90,  131,  178,  190,  232,  279,  316,  356,
       ...
       5120, 5177, 5221, 5257, 5290, 5333, 5381, 5413, 5445, 5484],
      dtype='int64', length=133)

In [28]:
cell_value = df.at[178, 'Artist, Title, Label, Year, Format']
print(cell_value)

LIVE 3-LP
PINK FLOYD
Delicate Sound of Thunder
Remixed from the original master tapes
Heavyweight 180g Vinyl
24-page Booklet
23 songs
Approx. 2 1/2 hours
Features 9 songs
not included on the
1988 2-LP.

Edit Record Cleaning Date
Edit Record Cleaning Kit

Pink Floyd - The Wall
2xLP, Album
Columbia, Columbia PC2 36183, 36183
1979 Canada	€11.74	€26.68	€82.75	2 months ago	Father Collection
Good Plus (G+)

Very Good (VG)

Tribute Album

Prog Rock

Rock

Britannia Row
London, England, UK
Super Bear
Nice, France
Miraval (Correns)
30th Street
New York, New York, USA
Producers Workshop
Los Angeles
Cherokee
Hollywood)

1979

London

UK

England

In-Store

Unknown

Unknown

Unknown

Unknown

Italy

1965–1994
2005
2007
2013–2014
2022

Yes

Roger Waters
David Gilmour
Nick Mason
Richard Wright

Roger Waters – vocals, bass guitar, synthesizer, acoustic guitar, electric guitar
David Gilmour – vocals, electric,and acoustic guitars, bass guitar,ARP Quadra synthesizers

Nick Mason – drums and percussion
Richard Wright – piano, Hammond organ, Prophet-5, ARP Quadra, Minimoog synthesizers, Fender Rhodes, Wurlitzer electric pianos, clavinet.

Bob Ezrin - piano, Hammond organ and harmonium, Prophet-5
Jeff Porcaro - drums
Lee Ritenour – rhythm guitar, acoustic guitar
Fred Mandel – Hammond organ
Bobbye Hall – congas and bongos
Frank Marocco – concertina
Larry Williams – clarinet

New York Orchestra & Opera
Harry Waters – child's voice on Goodbye Blue Sky"

In [29]:
# Create a list of rows to keep, including the three rows before each Euro row
rows_to_keep = []
for row in euro_rows:
    rows_to_keep.extend(range(row - 3, row + 1))

In [30]:
# Keep only the selected rows
df = df.loc[rows_to_keep]

In [31]:
df = df.reset_index(drop=True)

In [32]:
# Define the row indices to drop
rows_to_drop = []
for i in range(1, len(df), 4):
    rows_to_drop.extend([i, i+1])

# Drop the rows from the DataFrame
df = df.drop(rows_to_drop)

# Reset the index of the DataFrame
df = df.reset_index(drop=True)

In [33]:
# Iterate over the rows in the DataFrame
for i in range(1, len(df)):
    # Check if the row index is odd
    if i % 2 == 1:
        # Copy the value from the previous row's first column and paste it into the current row's first column
        df.iloc[i, 0] = df.iloc[i-1, 0]

In [34]:
# Iterate over the rows in the DataFrame
for i in range(1, len(df)):
    # Check if the row index is odd
    if i % 2 == 1:
        # Copy the value from the previous row's first column and paste it into the current row's first column
        df.iloc[i, 0] = df.iloc[i-1, 0]

# Delete rows with even indices
df = df.drop(df.index[::2])

# Reset the index of the DataFrame
df = df.reset_index(drop=True)

In [35]:
df.head()

,"Artist, Title, Label, Year, Format",Min,Median,Max,Added,Folder
0,Battiato* - L'Era Del Cinghiale Bianco,€28.69,€57.93,€178.06,2 months ago,Father Collection
1,Premiata Forneria Marconi - Per Un Amico,€14.84,€49.86,€148.39,2 months ago,Father Collection
2,New Trolls - UT,€13.12,€50.00,€125.00,2 months ago,Father Collection
3,Pink Floyd - Delicate Sound Of Thunder,€45.00,€56.45,€89.00,about 1 month ago,Original Collection
4,Photography By [Package] – Dimo Safari,None,None,None,None,None

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [36]:
# Inserts a new column named 'Artist'at index 0 and 'Title' at index 1 in the DataFrame df. 
# The initial values in these columns are set as empty strings ('').
df.insert(0, 'Artist', '')
df.insert(1, 'Title', '')

In [37]:
df.columns

Index(['Artist', 'Title', 'Artist, Title, Label, Year, Format', 'Min',
       'Median', 'Max ', 'Added', 'Folder'],
      dtype='object')

In [38]:
# Split the values in the 'Unnamed: 0' column using the delimiter ' - '
# The str.split() function returns a DataFrame with two columns ('Artist' and 'Title')
# containing the split values.
# By assigning this DataFrame to df[['Artist', 'Title']],
# the values are placed in the respective columns.
# The parameter n=1 indicates that the splitting should be done only once,
# resulting in a maximum of two parts.
# The expand=True parameter ensures that the result is returned as a DataFrame with two columns.
df[['Artist', 'Title']] = df['Artist, Title, Label, Year, Format'].str.split(' - ', n=1, expand=True)

# Drops the 'Artist, Title, Label, Year, Format' column from the DataFrame df along the specified axis
# (axis=1 indicates the column axis).
# The inplace=True parameter ensures that the DataFrame is modified in place,
# without creating a new copy.
df.drop('Artist, Title, Label, Year, Format', axis=1, inplace=True)

In [39]:
df.head()

,Artist,Title,Min,Median,Max,Added,Folder
0,Battiato*,L'Era Del Cinghiale Bianco,€28.69,€57.93,€178.06,2 months ago,Father Collection
1,Premiata Forneria Marconi,Per Un Amico,€14.84,€49.86,€148.39,2 months ago,Father Collection
2,New Trolls,UT,€13.12,€50.00,€125.00,2 months ago,Father Collection
3,Pink Floyd,Delicate Sound Of Thunder,€45.00,€56.45,€89.00,about 1 month ago,Original Collection
4,Photography By [Package] – Dimo Safari,None,None,None,None,None,None

In [40]:
filtered_data = df[df['Artist'] == 'Pink Floyd']
print(filtered_data)

        Artist                            Title     Min  Median    Max
3   Pink Floyd        Delicate Sound Of Thunder  €45.00  €56.45  €89.00  \
6   Pink Floyd  Soundtrack From The Film "More"   €7.67  €19.17  €76.67
11  Pink Floyd        The Dark Side Of The Moon   €9.40  €24.72  €53.42
15  Pink Floyd                          Animals   €7.08  €21.18  €45.49
63  Pink Floyd                  Masters Of Rock   €4.94  €10.86  €19.78

                Added               Folder
3   about 1 month ago  Original Collection
6        2 months ago    Father Collection
11       2 months ago    Father Collection
15       2 months ago    Father Collection
63       2 months ago    Father Collection

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Artist  133 non-null    object
 1   Title   132 non-null    object
 2   Min     132 non-null    object
 3   Median  132 non-null    object
 4   Max     132 non-null    object
 5   Added   132 non-null    object
 6   Folder  132 non-null    object
dtypes: object(7)
memory usage: 7.4+ KB

In [42]:
df["Higher"] = df["Max "].str.replace("€", "").astype(float).round(2)

In [43]:
df["Min"] = df["Min"].str.replace("€", "").astype(float).round(2)

In [44]:
df["Median"] = df["Median"].str.replace("€", "").astype(float).round(2)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Artist  133 non-null    object
 1   Title   132 non-null    object
 2   Min     132 non-null    float64
 3   Median  132 non-null    float64
 4   Max     132 non-null    object
 5   Added   132 non-null    object
 6   Folder  132 non-null    object
 7   Higher  132 non-null    float64
dtypes: float64(3), object(5)
memory usage: 8.4+ KB

In [46]:
df = df.drop("Max ", axis=1)

In [48]:
df = df.drop('Added', axis=1)

In [51]:
# Get the column names of the DataFrame
columns = df.columns.tolist()
columns

['Artist', 'Title', 'Min', 'Median', 'Folder', 'Higher']

In [54]:
# Identify the column you want to move
column_to_move = 'Higher'

# Remove the column from the list
columns.remove(column_to_move)

# Insert the column at the desired position
new_position = 4  # Move before the last column
columns.insert(new_position, column_to_move)

# Reorder the columns in the DataFrame
df = df[columns]

In [55]:
df

,Artist,Title,Min,Median,Higher,Folder
0,Battiato*,L'Era Del Cinghiale Bianco,28.69,57.93,178.06,Father Collection
1,Premiata Forneria Marconi,Per Un Amico,14.84,49.86,148.39,Father Collection
2,New Trolls,UT,13.12,50.00,125.00,Father Collection
3,Pink Floyd,Delicate Sound Of Thunder,45.00,56.45,89.00,Original Collection
4,Photography By [Package] – Dimo Safari,None,NaN,NaN,NaN,None
...,...,...,...,...,...,...
128,Culture Club,From Luxury To Heartache,1.00,2.33,5.75,2022 Second Hand
129,Fernandez Pray Und Sein Orchester,Midnight In Rio,1.90,4.74,5.68,45
130,Riccardo Cocciante,I Momenti Dell'Amore,1.00,2.00,4.00,Original Collection Italy
131,Mungo Jerry,In The Summertime,0.49,1.73,3.96,45
132,Santo & Johnny,Il Padrino Famosi Temi Da Films,2.77,3.05,3.33,Original Collection Italy

In [56]:
df = df.rename(columns={'Folder':'Collection'})

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [58]:
df = df.rename(columns={'Min':"Min_230626", 'Median': 'Median_230626', 'Higher': 'Higher_230626'})

In [59]:
df.head(2)

,Artist,Title,Min_230626,Median_230626,Higher_230626,Collection
0,Battiato*,L'Era Del Cinghiale Bianco,28.69,57.93,178.06,Father Collection
1,Premiata Forneria Marconi,Per Un Amico,14.84,49.86,148.39,Father Collection

In [61]:
df.to_json("../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230626.json", orient='columns', indent=None)

In [62]:
pd.read_json("../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230626.json")

,Artist,Title,Min_230626,Median_230626,Higher_230626,Collection
0,Battiato*,L'Era Del Cinghiale Bianco,28.69,57.93,178.06,Father Collection
1,Premiata Forneria Marconi,Per Un Amico,14.84,49.86,148.39,Father Collection
2,New Trolls,UT,13.12,50.00,125.00,Father Collection
3,Pink Floyd,Delicate Sound Of Thunder,45.00,56.45,89.00,Original Collection
4,Photography By [Package] – Dimo Safari,None,NaN,NaN,NaN,None
...,...,...,...,...,...,...
128,Culture Club,From Luxury To Heartache,1.00,2.33,5.75,2022 Second Hand
129,Fernandez Pray Und Sein Orchester,Midnight In Rio,1.90,4.74,5.68,45
130,Riccardo Cocciante,I Momenti Dell'Amore,1.00,2.00,4.00,Original Collection Italy
131,Mungo Jerry,In The Summertime,0.49,1.73,3.96,45
132,Santo & Johnny,Il Padrino Famosi Temi Da Films,2.77,3.05,3.33,Original Collection Italy

In [63]:
# Check if there are Null values in the DataFrame. Since the Result is True there is at least one,
# which can be the one I checked above.
df['Min_230626'].isnull().any()

True

In [64]:
# Check how many Null I have. There is only one so it is the one I know already.
df['Min_230626'].isnull().sum()

1

In [65]:
null_rows = ~df.notnull().all(axis=1)
filtered_df = df[null_rows]
filtered_df

,Artist,Title,Min_230626,Median_230626,Higher_230626,Collection
4,Photography By [Package] – Dimo Safari,None,NaN,NaN,NaN,None

In [66]:
df = df.drop(4)

In [67]:
df['Min_230626'].isnull().any()

False

In [69]:
df.reset_index(drop=True, inplace=True)

In [70]:
df.to_json("../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230626.json", orient='columns', indent=None)

In [72]:
pd.read_json("../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230626.json")

,Artist,Title,Min_230626,Median_230626,Higher_230626,Collection
0,Battiato*,L'Era Del Cinghiale Bianco,28.69,57.93,178.06,Father Collection
1,Premiata Forneria Marconi,Per Un Amico,14.84,49.86,148.39,Father Collection
2,New Trolls,UT,13.12,50.00,125.00,Father Collection
3,Pink Floyd,Delicate Sound Of Thunder,45.00,56.45,89.00,Original Collection
4,Premiata Forneria Marconi,L'Isola Di Niente,10.11,30.33,80.88,Father Collection
...,...,...,...,...,...,...
127,Culture Club,From Luxury To Heartache,1.00,2.33,5.75,2022 Second Hand
128,Fernandez Pray Und Sein Orchester,Midnight In Rio,1.90,4.74,5.68,45
129,Riccardo Cocciante,I Momenti Dell'Amore,1.00,2.00,4.00,Original Collection Italy
130,Mungo Jerry,In The Summertime,0.49,1.73,3.96,45
131,Santo & Johnny,Il Padrino Famosi Temi Da Films,2.77,3.05,3.33,Original Collection Italy

In [73]:
df.loc[len(df.index)] = ['Pink Floyd', 'The Wall', 11.74, 26.68, 82.75, 'Father Collection']

In [74]:
df

,Artist,Title,Min_230626,Median_230626,Higher_230626,Collection
0,Battiato*,L'Era Del Cinghiale Bianco,28.69,57.93,178.06,Father Collection
1,Premiata Forneria Marconi,Per Un Amico,14.84,49.86,148.39,Father Collection
2,New Trolls,UT,13.12,50.00,125.00,Father Collection
3,Pink Floyd,Delicate Sound Of Thunder,45.00,56.45,89.00,Original Collection
4,Premiata Forneria Marconi,L'Isola Di Niente,10.11,30.33,80.88,Father Collection
...,...,...,...,...,...,...
128,Fernandez Pray Und Sein Orchester,Midnight In Rio,1.90,4.74,5.68,45
129,Riccardo Cocciante,I Momenti Dell'Amore,1.00,2.00,4.00,Original Collection Italy
130,Mungo Jerry,In The Summertime,0.49,1.73,3.96,45
131,Santo & Johnny,Il Padrino Famosi Temi Da Films,2.77,3.05,3.33,Original Collection Italy
132,Pink Floyd,The Wall,11.74,26.68,82.75,Father Collection

In [75]:
df.to_json("../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230626.json", orient='columns', indent=None)