# ⚠️ <span style="color: #FF6961">Warning</span>

Follow the below instructions, and beware of the danger signs.

In [1]:
import pandas as pd
import re

In [30]:
pd.options.display.max_columns = None

# ⚠️ <span style="color: #FF6961">Warning</span>

Sort by Max

In [3]:
# We should just copy the table in the following page https://www.discogs.com/user/VannaBe/collection?sort=max&sort_order=desc
# It is important to include all the columns and all the rows

price = pd.read_clipboard(sep="\t")

In [4]:
price

,Unnamed: 0,"Artist , Title, Label, Year, Format",Min,Median,Max,Added,Folder,Rating,Album_Type,Style,Genre,Recorded,Original Released,Artist_City,Artist_Country,Artist_Region_State,Purchased,Year_Purchased,Shop,Shop_City,Shop_Region_State,Shop_Country,Years active,Group,Group_Members,Instrument(s),Instrument(s)_2,Instrument(s)_3,Instrument(s)_4,Cover Art,Notes,Record Cleaning Date,Record Cleaning Kit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a-ha - East Of The Sun West Of The Moon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"LP, Album",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Warner Bros. Records 7599 26314-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990 Italy,€4.94,€13.35,€25.71,about 1 month ago,Original Collection Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,Other (Price on labels): 2-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5931,Other (Article): Арт. 11-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5932,Other (Retail price on sleeve): Цена 2 руб. 50...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5933,Edit Record Cleaning Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5934,Edit Record Cleaning Kit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [5]:
price.to_json('../../Discogs_Exports/VannaBe_Collection_Price/price_170723.json', orient='columns', indent=None)

In [27]:
df_price= pd.read_json('../../Discogs_Exports/VannaBe_Collection_Price/price_170723.json')

In [28]:
df = df_price.iloc[:, :6]

In [33]:
df.head(1)

  Unnamed: 0 Artist , Title, Label, Year, Format   Min Median   Max Added
0       None                                None  None   None  None  None

In [34]:
# Find the rows that contain the Euro symbol
euro_rows = df[df.apply(lambda row: row.astype(str).str.contains('€').any(), axis=1)].index

In [35]:
euro_rows

Index([   4,   36,   68,  100,  132,  180,  224,  267,  326,  368,
       ...
       5474, 5506, 5547, 5579, 5611, 5643, 5707, 5739, 5796, 5846],
      dtype='int64', length=133)

In [36]:
# Create a list of rows to keep, including the three rows before each Euro row
rows_to_keep = []
for row in euro_rows:
    rows_to_keep.extend(range(row - 3, row + 1))

In [37]:
# Keep only the selected rows
df = df.loc[rows_to_keep]

In [38]:
df = df.reset_index(drop=True)

In [39]:
# Define the row indices to drop
rows_to_drop = []
for i in range(1, len(df), 4):
    rows_to_drop.extend([i, i+1])

# Drop the rows from the DataFrame
df = df.drop(rows_to_drop)

# Reset the index of the DataFrame
df = df.reset_index(drop=True)

In [40]:
# Iterate over the rows in the DataFrame
for i in range(1, len(df)):
    # Check if the row index is odd
    if i % 2 == 1:
        # Copy the value from the previous row's first column and paste it into the current row's first column
        df.iloc[i, 0] = df.iloc[i-1, 0]

In [41]:
# Iterate over the rows in the DataFrame
for i in range(1, len(df)):
    # Check if the row index is odd
    if i % 2 == 1:
        # Copy the value from the previous row's first column and paste it into the current row's first column
        df.iloc[i, 0] = df.iloc[i-1, 0]

# Delete rows with even indices
df = df.drop(df.index[::2])

# Reset the index of the DataFrame
df = df.reset_index(drop=True)

In [42]:
pd.set_option('display.max_rows', None)

In [46]:
df.isnull().sum()

Unnamed: 0                             0
Artist , Title, Label, Year, Format    0
Min                                    0
Median                                 0
Max                                    0
Added                                  0
dtype: int64

In [44]:
null_rows = df[df.isnull().any(axis=1)]
null_rows

,Unnamed: 0,"Artist , Title, Label, Year, Format",Min,Median,Max,Added
82,Photography By [Package] – Dimo Safari,None,None,None,None,None

In [45]:
df = df.drop(82)

In [47]:
df.reset_index(drop=True, inplace=True)

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [48]:
# Inserts a new column named 'Artist'at index 0 and 'Title' at index 1 in the DataFrame df. 
# The initial values in these columns are set as empty strings ('').
df.insert(0, 'Artist', '')
df.insert(1, 'Title', '')

In [49]:
# Split the values in the 'Unnamed: 0' column using the delimiter ' - '
# The str.split() function returns a DataFrame with two columns ('Artist' and 'Title')
# containing the split values.
# By assigning this DataFrame to df[['Artist', 'Title']],
# the values are placed in the respective columns.
# The parameter n=1 indicates that the splitting should be done only once,
# resulting in a maximum of two parts.
# The expand=True parameter ensures that the result is returned as a DataFrame with two columns.
df[['Artist', 'Title']] = df['Unnamed: 0'].str.split(' - ', n=1, expand=True)

# Drops the 'Artist, Title, Label, Year, Format' column from the DataFrame df along the specified axis
# (axis=1 indicates the column axis).
# The inplace=True parameter ensures that the DataFrame is modified in place,
# without creating a new copy.
df.drop('Unnamed: 0', axis=1, inplace=True)

In [50]:
df.head(1)

,Artist,Title,"Artist , Title, Label, Year, Format",Min,Median,Max,Added
0,a-ha,East Of The Sun West Of The Moon,€4.94,€13.35,€25.71,about 1 month ago,Original Collection Italy

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Artist                               132 non-null    object
 1   Title                                132 non-null    object
 2   Artist , Title, Label, Year, Format  132 non-null    object
 3   Min                                  132 non-null    object
 4   Median                               132 non-null    object
 5   Max                                  132 non-null    object
 6   Added                                132 non-null    object
dtypes: object(7)
memory usage: 7.3+ KB

In [52]:
df["Higher"] = df["Median"].str.replace("€", "").astype(float).round(2)

In [54]:
df.head(1)

,Artist,Title,"Artist , Title, Label, Year, Format",Min,Median,Max,Added,Higher
0,a-ha,East Of The Sun West Of The Moon,€4.94,€13.35,€25.71,about 1 month ago,Original Collection Italy,25.71

In [55]:
df["Median"] = df["Min"].str.replace("€", "").astype(float).round(2)

In [56]:
df.head(1)

,Artist,Title,"Artist , Title, Label, Year, Format",Min,Median,Max,Added,Higher
0,a-ha,East Of The Sun West Of The Moon,€4.94,€13.35,13.35,about 1 month ago,Original Collection Italy,25.71

In [57]:
df["Min"] = df["Artist , Title, Label, Year, Format"].str.replace("€", "").astype(float).round(2)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Artist                               132 non-null    object
 1   Title                                132 non-null    object
 2   Artist , Title, Label, Year, Format  132 non-null    object
 3   Min                                  132 non-null    float64
 4   Median                               132 non-null    float64
 5   Max                                  132 non-null    object
 6   Added                                132 non-null    object
 7   Higher                               132 non-null    float64
dtypes: float64(3), object(5)
memory usage: 8.4+ KB

In [59]:
df = df.drop("Max", axis=1)

In [60]:
df = df.drop("Artist , Title, Label, Year, Format", axis=1)

In [61]:
df.head(1)

,Artist,Title,Min,Median,Added,Higher
0,a-ha,East Of The Sun West Of The Moon,4.94,13.35,Original Collection Italy,25.71

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [62]:
df = df.rename(columns={'Min':"Min_230717", 'Median': 'Median_230717', 'Higher': 'Higher_230717'})

In [63]:
df.head(1)

,Artist,Title,Min_230717,Median_230717,Added,Higher_230717
0,a-ha,East Of The Sun West Of The Moon,4.94,13.35,Original Collection Italy,25.71

In [64]:
columns = df.columns.tolist()
columns

['Artist', 'Title', 'Min_230717', 'Median_230717', 'Added', 'Higher_230717']

In [65]:
# Identify the column you want to move
column_to_move = 'Higher_230717'

# Remove the column from the list
columns.remove(column_to_move)

# Insert the column at the desired position
new_position = 4  # Move before the last column
columns.insert(new_position, column_to_move)

# Reorder the columns in the DataFrame
df = df[columns]

In [66]:
df.head(1)

,Artist,Title,Min_230717,Median_230717,Higher_230717,Added
0,a-ha,East Of The Sun West Of The Moon,4.94,13.35,25.71,Original Collection Italy

In [127]:
#df = df.rename(columns={"Folder":"Collection"})

In [67]:
df = df.rename(columns={"Added":"Collection"})

In [68]:
df.head(1)

,Artist,Title,Min_230717,Median_230717,Higher_230717,Collection
0,a-ha,East Of The Sun West Of The Moon,4.94,13.35,25.71,Original Collection Italy

In [69]:
df.loc[df['Title'] == 'The Wall']

,Artist,Title,Min_230717,Median_230717,Higher_230717,Collection
84,Pink Floyd,The Wall,11.36,21.09,80.06,Father Collection

In [70]:
df.loc[df['Artist'] == 'Pink Floyd']

,Artist,Title,Min_230717,Median_230717,Higher_230717,Collection
80,Pink Floyd,Animals,6.85,19.51,44.01,Father Collection
81,Pink Floyd,Delicate Sound Of Thunder,44.01,56.35,87.04,Original Collection
82,Pink Floyd,"Soundtrack From The Film ""More""",7.42,18.54,74.17,Father Collection
83,Pink Floyd,The Dark Side Of The Moon,9.19,24.18,52.24,Father Collection
84,Pink Floyd,The Wall,11.36,21.09,80.06,Father Collection

In [71]:
df.loc[len(df.index)] = ['Pink Floyd', 'Masters Of Rock', 4.78,	10.50,19.14, 'Father Collection']

In [72]:
df.tail(1)

,Artist,Title,Min_230717,Median_230717,Higher_230717,Collection
132,Pink Floyd,Masters Of Rock,4.78,10.5,19.14,Father Collection

In [73]:
df.to_json("../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230717.json", orient='columns', indent=None)

In [74]:
# Sort the DataFrame based on the 'Median' column in descending order
sorted_df = df.sort_values(by='Higher_230717', ascending=False)

# Print the sorted DataFrame
sorted_df

,Artist,Title,Min_230717,Median_230717,Higher_230717,Collection
40,Battiato*,L'Era Del Cinghiale Bianco,21.28,57.06,174.13,Father Collection
91,Premiata Forneria Marconi,Per Un Amico,14.51,48.47,145.11,Father Collection
75,New Trolls,UT,12.69,48.37,120.92,Father Collection
81,Pink Floyd,Delicate Sound Of Thunder,44.01,56.35,87.04,Original Collection
84,Pink Floyd,The Wall,11.36,21.09,80.06,Father Collection
85,Pino Daniele,Terra Mia,20.00,41.00,79.00,Father Collection
89,Premiata Forneria Marconi,L'Isola Di Niente,9.78,29.34,78.24,Father Collection
82,Pink Floyd,"Soundtrack From The Film ""More""",7.42,18.54,74.17,Father Collection
35,Emmylou Harris And The Nash Ramblers,Ramble In Music City: The Lost Concert,8.13,10.69,66.75,Original Collection
12,Bruce Springsteen,Tunnel Of Love,2.37,10.58,59.33,Original Collection
73,New Trolls,Concerto Grosso N° 2,9.67,18.38,58.04,Father Collection
83,Pink Floyd,The Dark Side Of The Moon,9.19,24.18,52.24,Father Collection
41,Franco Cerri,Nuages,18.16,24.93,49.95,Original Collection Italy
7,Andrew Lloyd Webber,Cats,2.70,5.48,48.90,2022 Second Hand
69,Mike Oldfield,Tubular Bells II,5.88,13.54,48.36,Original Collection
92,Premiata Forneria Marconi,Photos Of Ghosts,4.54,7.04,45.40,2023 Second Hand
80,Pink Floyd,Animals,6.85,19.51,44.01,Father Collection
97,Queen,The Game,9.47,17.03,43.26,Original Collection
13,Bruce Springsteen,Western Stars,14.75,17.92,41.48,Original Collection
128,Vasco Rossi,Albachiara,6.85,15.16,39.12,Original Collection Italy
63,Mike Oldfield,Amarok,7.74,16.10,38.70,2022 Second Hand
26,The Doors,The Doors (Music From The Original Motion Pict...,4.83,15.84,38.69,Original Collection Italy
62,Michael Jackson,Bad,0.91,14.79,38.28,Original Collection Italy
45,Gianna Nannini,Maschi E Altri,2.45,9.29,36.68,Original Collection Italy
24,Dire Straits & Mark Knopfler,Private Investigations (The Best Of),19.02,27.45,36.59,Original Collection
52,The London Symphony Orchestra And Chambre Choir*,Tommy / As Performed By The London Symphony Or...,0.96,4.74,35.60,Original Collection Italy
70,Mina (3),Cassiopea (Italian Songbook),9.79,25.61,35.60,Original Collection
27,The Doors,Weird Scenes Inside The Gold Mine,16.69,24.76,35.57,Original Collection Rita
48,Jimi Hendrix,Blues,16.91,23.13,35.21,Original Collection
98,Queen,The Miracle,9.73,18.78,34.23,Original Collection
60,Marvin Gaye & Tammi Terrell,United,12.55,22.60,33.81,Original Collection Rita
79,Pat Metheny Group,Still Life (Talking),6.70,11.91,31.58,2022 Second Hand
15,Charlie Parker,Jam Session,12.80,16.37,31.14,Original Collection
88,Premiata Forneria Marconi,Come Ti Va In Riva Alla Città,4.89,14.67,29.34,2022 Second Hand
25,The Doors,13,9.82,20.46,29.24,Original Collection Rita
29,Edoardo Bennato,Burattino Senza Fili,1.45,14.03,29.02,Father Collection
58,Madonna,The First Album,3.87,9.67,29.01,Original Collection Italy
14,Cariocas,Batida,6.23,9.57,28.71,Original Collection Italy
17,Claudio Baglioni,Solo,1.96,9.29,28.34,Original Collection Italy
9,The Beatles,Hey Jude,19.56,27.38,27.38,Father Collection
95,Queen,News Of The World,3.39,19.46,27.09,Original Collection
90,Premiata Forneria Marconi,Live In U.S.A.,11.36,17.04,26.70,Father Collection
76,Nina Simone,In Concert,11.76,15.29,26.26,Original Collection
0,a-ha,East Of The Sun West Of The Moon,4.94,13.35,25.71,Original Collection Italy
94,Queen,A Night At The Opera,6.36,14.85,25.48,Original Collection
122,Various,Festivalbar '87,2.93,7.42,25.00,Original Collection Italy
49,Joe Sample,Rainbow Seeker,4.00,8.84,25.00,2023 Second Hand
127,Various,Vision Quest (Original Motion Picture Sound Tr...,1.87,4.89,24.45,Original Collection Italy
103,Roxy Music,Avalon,3.91,9.03,24.45,2023 Second Hand
10,Billie Holiday,Lady In Satin,12.29,17.79,23.47,Original Collection
28,Duran Duran,Notorious,1.91,6.60,22.97,Original Collection Italy
120,Thelonious Monk & Art Blakey,Blue Monk,9.18,13.21,22.96,Original Collection
56,Madonna,Like A Prayer,3.32,5.63,22.48,Original Collection Italy
96,Queen,Queen,20.23,20.95,21.68,Original Collection
51,John Barry,Dances With Wolves (Original Motion Picture So...,3.93,12.52,21.34,Original Collection Italy
30,Edoardo Bennato,Non Farti Cadere Le Braccia,2.87,6.94,21.05,Original Collection Italy
46,Graciela Guevara,Graciela Guevara,20.64,20.64,20.64,Original Collection Italy
105,Santana,Caravanserai,3.82,9.57,19.86,2023 Second Hand
22,Dire Straits,Communiqué,0.99,9.64,19.78,2023 Second Hand
2,a-ha,Scoundrel Days,3.38,4.84,19.56,Original Collection Italy
57,Madonna,Like A Virgin,3.86,8.71,19.35,Original Collection Italy
126,Various,Sanremo 86,1.93,4.84,19.35,Original Collection Italy
119,Supertramp,Crime Of The Century,4.74,7.49,19.35,2023 Second Hand
132,Pink Floyd,Masters Of Rock,4.78,10.50,19.14,Father Collection
74,New Trolls,Senza Orario Senza Bandiera,4.78,9.57,19.13,Father Collection
86,The Police,Every Breath You Take (The Singles),3.78,9.47,18.94,Original Collection Italy
110,The Shadows,20 Golden Greats,0.94,4.20,18.73,Original Collection Italy
21,The Dave Brubeck Quartet,Time Out,12.45,17.12,18.69,Original Collection
104,Roxy Music,Flesh + Blood,1.84,4.64,18.33,2022 Second Hand
50,Joe Sample,David T. Walker - Swing Street Cafe,1.77,4.79,17.80,2021 Second Hand
125,Various,Pretty Woman (Soundtrack),2.39,7.66,17.70,Original Collection Italy
44,The Gerry Mulligan Quartet* With Chet Baker,Soft Shoe,12.38,17.09,17.66,Original Collection
72,New Trolls,Aldebaran,8.63,17.20,17.28,Father Collection
121,Various,Fame - Bande Originale du Film,0.28,3.83,17.23,2022 Second Hand
16,Claudio Baglioni,La Vita È Adesso,1.90,5.05,17.23,2022 Second Hand Rita
32,Electric Light Orchestra,Eldorado - A Symphony By The Electric Light Or...,5.56,9.27,15.76,2023 Second Hand
43,Genesis,Live,2.31,5.61,14.83,2023 Second Hand
1,a-ha,Hunting High And Low,1.03,9.78,14.67,Original Collection Italy
102,Rondo' Veneziano*,Arabesque,3.19,7.25,14.51,Original Collection Italy
5,The Alan Parsons Project,Historias De Misterio E Imaginacion = Tales Of...,2.90,5.22,14.51,2023 Second Hand
131,Yes,Relayer,4.84,8.66,14.51,2023 Second Hand
87,The Police,Ghost In The Machine,2.81,7.73,14.51,2021 Second Hand
77,The Notting Hillbillies,Missing... Presumed Having A Good Time,1.93,6.83,14.51,2022 Second Hand
3,a-ha,Stay On These Roads,2.87,6.70,14.35,Original Collection Italy
59,Madonna,True Blue,3.83,5.98,14.35,Original Collection Italy
42,Frank Zappa,Orchestral Favorites,4.78,11.48,14.35,Original Collection Italy
68,Mike Oldfield,Tubular Bells,2.87,7.60,14.35,2021 Second Hand
47,James Taylor (2),James Taylor's Greatest Hits,1.41,3.35,14.10,2023 Second Hand
37,Fausto Papetti,"39a Raccolta - ""Sax' Idea""",0.94,7.49,14.03,2021 Second Hand
6,The Alan Parsons Project,Pyramid,0.98,3.20,13.51,2023 Second Hand
61,Mel Lewis,Live In Montreux,6.28,6.33,12.66,2021 Second Hand
66,Mike Oldfield,Platinum,3.43,7.59,12.38,2023 Second Hand
106,Santana,Caravanserai,2.14,5.63,12.35,Original Collection Italy
129,Yes,Big Generator,2.34,7.03,12.13,2023 Second Hand
11,Bonnie Raitt,Nick Of Time,3.24,4.64,12.01,2022 Second Hand
65,Mike Oldfield,Five Miles Out,0.97,6.31,11.73,2023 Second Hand
55,Luigi Tenco,Agli Amici Cantautori,3.87,6.77,11.61,Original Collection Italy
4,The Alan Parsons Project,Ammonia Avenue,1.13,6.77,11.61,2023 Second Hand
36,Eurythmics,We Too Are One,2.81,4.79,11.61,2022 Second Hand
39,Fleetwood Mac,Mirage,2.86,5.69,11.56,2022 Second Hand
8,Angelo Branduardi,Highdown Fair,2.87,9.57,11.48,2022 Second Hand
113,Spandau Ballet,Parade,1.82,3.82,11.48,2022 Second Hand
123,Various,I Supergruppi Vol.1,1.82,6.81,11.24,Father Collection
53,Los Cachaos,Samba Rumba Y Cha Cha Cha,10.32,10.32,10.32,Original Collection Italy
34,"Emerson, Lake & Palmer",In Concert,1.81,4.73,10.27,2023 Second Hand
101,Rick Wakeman,1984,2.84,4.73,9.94,2023 Second Hand
116,Status Quo,Blue For You,1.42,4.45,9.89,2022 Second Hand
112,Spandau Ballet,Journeys To Glory = Viajes A La Gloria,1.91,4.29,9.88,2022 Second Hand
130,Yes,Going For The One,2.74,6.85,9.78,2023 Second Hand
64,Mike Oldfield,Earth Moving,2.45,4.89,9.78,2021 Second Hand
20,Culture Club,Waking Up With The House On Fire,1.77,3.55,9.78,2022 Second Hand
93,Procol Harum,Exotic Birds And Fruit,2.30,3.91,9.73,2023 Second Hand
100,Rick Astley,Hold Me In Your Arms,2.42,3.87,9.67,Original Collection Italy
31,Electric Light Orchestra,Discovery,1.93,5.32,9.67,2023 Second Hand
54,Luca Barbarossa,Al Di Là Del Muro,0.87,1.93,9.66,Original Collection Italy
67,Mike Oldfield,QE2,1.37,4.36,9.47,2022 Second Hand
111,The Shadows,20 Golden Greats = 20 Grandes Exitos,0.96,4.78,9.47,2021 Second Hand
115,Spandau Ballet,True = Verdad,5.62,8.90,9.37,2022 Second Hand
108,Santo & Johnny,Tenderly = Teneramente,2.23,4.17,9.27,Original Collection Italy
109,Sarah Vaughan,Sarah Vaughan,0.88,2.30,8.89,2022 Second Hand
114,Spandau Ballet,Through The Barricades,1.45,4.45,8.61,2022 Second Hand
117,Status Quo,Just Supposin'...,1.97,4.20,7.81,2022 Second Hand
118,Status Quo,Rockin' All Over The World,2.88,4.69,7.75,2022 Second Hand
124,Various,Natale Con I Tuoi...,0.96,3.82,7.66,Original Collection Italy
18,The Crusaders With B. B. King* And The Royal P...,Royal Jam (Recorded Live At The Royal Festival...,0.95,5.21,7.57,2023 Second Hand
78,Orchestra «Pro Arte» Di Monaco* / Kurt Redel,"Il Canone Di Pachelbel, Il Largo Di Handel, L'...",5.30,6.09,6.89,Father Collection
33,Ella Fitzgerald With Orchestra*,The First Lady Of Jazz,6.21,6.21,6.21,45
23,Dire Straits,Making Movies,4.84,5.63,5.71,2023 Second Hand
19,Culture Club,From Luxury To Heartache,0.99,2.31,5.71,2022 Second Hand
38,Fernandez Pray Und Sein Orchester,Midnight In Rio,1.84,4.59,5.50,45
99,Riccardo Cocciante,I Momenti Dell'Amore,0.97,1.93,3.87,Original Collection Italy
71,Mungo Jerry,In The Summertime,0.48,1.67,3.83,45
107,Santo & Johnny,Il Padrino Famosi Temi Da Films,2.68,2.95,3.22,Original Collection Italy